* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --color-bg: #FFF;
    --color-text: #0E0E0E;
    --color-accent: #5C457B;
    --color-footer: #D0D0D0;
    --color-border: #333;
}

@font-face {
   font-family: 'Montserrat';
   src: url('/assets/fonts/montserrat-regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
 
@font-face {
   font-family: 'Montserrat';
   src: url('/assets/fonts/montserrat-semibold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: url('/assets/fonts/montserrat-regular-italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}

body {
    background-color: var(--color-bg);
    font-family: 'montserrat', sans-serif;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

header {
    margin-top: 2.75rem;
}

section {
    margin-block: 2.75rem;
}

section.first {
    margin-top: 1rem;
}

article {
    margin-block: 1rem;
}

h1 {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-accent);
}

h1.letter {
    margin-bottom: 2rem;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text);
}

h2.letter {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 3.5rem 0 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}

p + p {
    margin-top: 1rem;
}

li + li {
    margin-top: 0.125rem;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

a { 
    text-decoration: underline;
    color: var(--color-accent);
}

a:hover {
    text-decoration: none;
}

input {
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-border);
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-accent);
    line-height: 1.5rem;
}

input[type="submit"] {
    background: none;
    border: none;
    text-decoration: underline;
}

input[type="submit"]:hover {
    text-decoration: none;
}

input[type="email"]:focus {
    outline: none;
}

footer, footer h2 {
    color: var(--color-footer);
    margin-bottom: 2.75rem;
}

blockquote {
   padding: 0;
   margin: 1rem 0 1rem 2.5rem;
   background: transparent;
}

ul.letter, ol.letter {
    margin: 1rem 0;
}

p.line {
    margin-top: 1.5rem;
}

header.grid {
    align-items: center;
}

.youtube {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.content img {
    max-width: 100%;
}

.logo {
    max-width: 65px;
}

.no-bullets {
    list-style: none;
}

.no-underline {
    text-decoration: none;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin-inline: auto;
}

.col-1  { grid-column: span 1; }
.col-2  { grid-column: span 2; }
.col-3  { grid-column: span 3; }
.col-4  { grid-column: span 4; }
.col-5  { grid-column: span 5; }
.col-6  { grid-column: span 6; }
.col-7  { grid-column: span 7; }
.col-8  { grid-column: span 8; }
.col-9  { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.start-1 { grid-column-start: 1; }
.start-2 { grid-column-start: 2; }
.start-3 { grid-column-start: 3; }
.start-4 { grid-column-start: 4; }
.start-5 { grid-column-start: 5; }
.start-6 { grid-column-start: 6; }
.start-7 { grid-column-start: 7; }
.start-8 { grid-column-start: 8; }
.start-9 { grid-column-start: 9; }
.start-10 { grid-column-start: 10; }
.start-11 { grid-column-start: 11; }
.start-12 { grid-column-start: 12; }

.label {
    grid-column: 1 / 5;
    text-align: right;
}

.content {
    grid-column: 5 / 13;
}