* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --color-bg: #0E0E0E;
    --color-text: #EEE;
    --color-footer: #383838;
    --color-border: #333;
    --color-bg-inv: #FFF;
    --color-text-inv: #0E0E0E;
    --color-footer-inv: #D0D0D0;
}

@font-face {
   font-family: 'Pitch';
   src: url('/assets/fonts/pitch-regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
 
@font-face {
   font-family: 'Pitch';
   src: url('/assets/fonts/pitch-bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Pitch';
   src: url('/assets/fonts/pitch-regular-italic.woff2') format('woff2');
   font-weight: 400;
   font-style: italic;
}

body {
    background-color: var(--color-bg);
    font-family: 'Pitch', monospace;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text);
    line-height: 1.4rem;
}

section {
    margin-block: 2.75rem;
}

article {
    margin-block: 1rem;
}

h1 {
    font-size: 1.4rem;
    font-weight: 400;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
}

p + p {
    margin-top: 1rem;
}

li + li {
    margin-top: 0.125rem;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

a { 
    color: var(--color-text);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

input {
    border-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-border);
    font-family: 'Pitch', monospace;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-inv);
    line-height: 1.4rem;
}

input[type="submit"] {
    background: none;
    border: none;
    text-decoration: underline;
}

input[type="submit"]:hover {
    text-decoration: none;
}

input[type="email"]:focus {
    outline: none;
}

footer {
    color: var(--color-footer);
    margin-bottom: 2.75rem;
}

.youtube {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.content img {
    max-width: 100%;
}

.content .logo {
    max-width: 300px;
    margin: 3rem 0 0.5rem;
}

.project {
    margin-bottom: 2rem;
}

.no-bullets {
    list-style: none;
}

.no-underline {
    text-decoration: none;
}

#verbal-identity, #copywriting, #editing, #advertising, #scriptwriting {
    scroll-margin-top: 5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

/* THE GIST OF */

body.gist {
    background-color: var(--color-bg-inv);
    color: var(--color-text-inv);
}

h1.letter {
    margin-bottom: 2rem;
}

h2.letter {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 3.5rem 0 1rem;
}

blockquote {
   padding: 0;
   margin: 1rem 0 1rem 2.5rem;
   background: transparent;
}

ul.letter, ol.letter {
    margin: 1rem 0;
}

a.gist {
    color: var(--color-text-inv);
}

.content .logo-gist {
    max-width: 100px;
    margin: 3rem 0 2rem;
}

p.line {
    margin-top: 1.5rem;
}

footer.gist {
    color: var(--color-footer-inv);
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin-inline: auto;
}

.col-1  { grid-column: span 1; }
.col-2  { grid-column: span 2; }
.col-3  { grid-column: span 3; }
.col-4  { grid-column: span 4; }
.col-5  { grid-column: span 5; }
.col-6  { grid-column: span 6; }
.col-7  { grid-column: span 7; }
.col-8  { grid-column: span 8; }
.col-9  { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.start-1 { grid-column-start: 1; }
.start-2 { grid-column-start: 2; }
.start-3 { grid-column-start: 3; }
.start-4 { grid-column-start: 4; }
.start-5 { grid-column-start: 5; }
.start-6 { grid-column-start: 6; }
.start-7 { grid-column-start: 7; }
.start-8 { grid-column-start: 8; }
.start-9 { grid-column-start: 9; }
.start-10 { grid-column-start: 10; }
.start-11 { grid-column-start: 11; }
.start-12 { grid-column-start: 12; }

.label {
    grid-column: 1 / 5;
    text-align: right;
}

.content {
    grid-column: 5 / 13;
}